/*Isotope*/
.grid-item { width: 33%; }
.grid-item--width2 { width: 66%; }

/*Widget*/
.widget-title {
	color: #313131;
	margin-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	text-align: center;
	line-height: 1.3;
	background: #fff;

	color: #313131;
	margin: 0 0 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	text-align: left;
	font-size: 16px;
	text-transform: uppercase;
	background: none;
}
.widget-title:before {
	content: none;
}
.widget-title:after {
	width: 100%;
	bottom: -4px;
	left: 0;
	border: none;
	border-bottom: 1px solid #313131;
	height: auto;
}

.widget-title .inner-arrow {
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 0 0 15px;
	background: none;
}

.inner-arrow{
	text-align: center;
}

.penci-border-arrow {
	position: relative;
	line-height: 1.3;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
.penci-border-arrow .inner-arrow {
	border: 1px solid #313131;
	background: #fff;
	position: relative;
	display: block;
	text-transform: uppercase;
	padding: 11px 15px 9px;
	z-index: 3;
}
.penci-border-arrow:before,
.penci-border-arrow:after {
	content: "";
	position: absolute;
}
.penci-border-arrow:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	bottom: -7px;
	left: 50%;
	border-top-color: #313131;
	border-width: 7px;
	border-bottom: 0;
	margin-left: -7px;
	z-index: 5;
}
.penci-border-arrow:after {
	border: 1px solid #313131;
	left: -5px;
	bottom: 3px;
	display: block;
	z-index: 1;
	height: 100%;
}


/* */

#footer a{
	color: black;
}
#footer span a{
	font-style: none;
}